@import 'tailwindcss';

@layer base {
  body {
    @apply transition-all duration-300 ease-in-out;
  }
}

html {
  font-family: 'Roboto', serif;
}

:root {
  --background: #ffffff;
  --secondary: #737373;
  --primary: #00c950;
  --shimmer-width: 10px;
  --accent: #213547;
}

.dark {
  --background: #1b1b1f;
  --secondary: #737373;
  --primary: #00c950;
  --shimmer-width: 10px;
  --accent: #213547;
}

@theme {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --animate-shimmer: shimmer 8s infinite;

  @keyframes shimmer {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shimmer-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shimmer-width)) 0;
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));
