html {
  font-family: 'Roboto', serif;
}

body {
  @apply transition-all duration-300 ease-in-out;
}

html {
  font-family: 'Roboto', serif;
}

:root {
  --background: #ffffff;
  --secondary: #737373;
  --primary: #00c950;
  --shimmer-width: 10px;
  --accent: #213547;
}

.dark {
  --background: #1b1b1f;
  --secondary: #737373;
  --primary: #00c950;
  --shimmer-width: 10px;
  --accent: #213547;
}
